html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #2E3646;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.panel {
  position: relative;
  width: 400px;
  height: 350px;
  background-color: white;
  margin: 0 auto;
  border-radius: 7px;
  top: 60px;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.login-lab {
  position: absolute;
  font-family: 'Helvetica Neue', sans-serif; font-size: 12px; font-weight: bold;
  left: 184px;
  top: 4px;
  color: grey;
}

.login-user {
  font-family: 'Helvetica Neue', sans-serif; font-size: 10px; font-weight: bold;
  outline: 0;
  position: absolute;
  top: 48px;
  left: 22px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 25px;
  width: 350px;
  border-radius: 6px;
  text-align: center;
}

.login-pass {
  font-family: 'Helvetica Neue', sans-serif; font-size: 10px; font-weight: bold;
  outline: 0;
  position: absolute;
  top: 82px;
  left: 22px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  height: 25px;
  width: 350px;
  border-radius: 6px;
  text-align: center;
}

.selection-panel {
  position: relative;
  width: 200px;
  height: 40px;
  background-color: white;
  margin: 0 auto;
  border-radius: 7px;
  left: -100px;
  top: 65px;
  text-align: center;
  align-items: center;
}

.circle-1 {
    color: white;
    height: 30px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    left: -100px;
    top: 5px;
    left: 5px;
    width: 30px;
    border-radius: 6px;
    text-align: center;
}

.login-img {
  position: absolute;
  width: 25px;
  left: 2px;
  top: 2px;
}

.circle-2 {
    color: white;
    height: 30px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    left: -100px;
    top: 0px;
    left: 40px;
    width: 30px;
    border-radius: 6px;
    text-align: center;
}

.circle-param {
    color: white;
    height: 30px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    left: -100px;
    top: -210px;
    left: 305px;
    width: 30px;
    border-radius: 6px;
    text-align: center;
}

.param-icon {
  position: absolute;
  width: 25px;
  left: 2px;
  top: 2px;
}
.shop-img {
  position: absolute;
  width: 25px;
  left: 2px;
  top: 2px;
}

.login-server {
    border:none;
    outline: 0;
    color: grey;
    height: 25px;
    position: absolute;
    background-color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    left: -22px;
    top: -243px;
    width: 354px;
    border-radius: 6px;
    text-align-last:center;
}

.login-button {
    font-family: 'Helvetica Neue', sans-serif; font-size: 10px; font-weight: bold;
    outline: 0;
    border:none;
    color: white;
    height: 25px;
    position: absolute;
    background-color: #7635DC;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    left: -22px;
    top: -210px;
    width: 105px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;

}

.login-button:hover {
  background-color:#7615DC;
}

.logout-button {
    font-family: 'Helvetica Neue', sans-serif; font-size: 10px; font-weight: bold;
    outline: 0;
    border:none;
    color: white;
    height: 25px;
    position: absolute;
    background-color: #2E3646;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    left: 86px;
    top: -210px;
    width: 105px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;

}

.fame-img {
  position: absolute;
  width: 20px;
  left: -15px;
  top: -170px;
}

.login-fame {
  position: absolute;
  font-family: 'Helvetica Neue', sans-serif; font-size: 12px; font-weight: bold;
  left: 15px;
  top: -177px;
  color: grey;
}

.friends-img {
  position: absolute;
  width: 20px;
  left: -15px;
  top: -140px;
}


.login-friends {
  position: absolute;
  font-family: 'Helvetica Neue', sans-serif; font-size: 12px; font-weight: bold;
  left: 15px;
  top: -150px;
  color: grey;
}

.user-icon {
  position: absolute;
  width: 50px;
  left: 220px;
  top: -190px;
}

.switcher-label {
  position: absolute;
  font-family: 'Helvetica Neue', sans-serif; font-size: 10px; font-weight: bold;
  left: -15px;
  top: -120px;
  color: grey;
  word-wrap: normal;
  color: #2E3646;
}

.boy-button {
    font-family: 'Helvetica Neue', sans-serif; font-size: 10px; font-weight: bold;
    outline: 0;
    border:none;
    color: white;
    height: 25px;
    position: absolute;
    background-color: #0070BB;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    left: -22px;
    top: -90px;
    width: 105px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.boy-button:hover {

    background-color: #0050BB;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


.girl-button {
    font-family: 'Helvetica Neue', sans-serif; font-size: 10px; font-weight: bold;
    outline: 0;
    border:none;
    color: white;
    height: 25px;
    position: absolute;
    background-color: #FC4A8E;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    left: 86px;
    top: -90px;
    width: 105px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.girl-button:hover {
    background-color: #FC1A8E;
}
